docs_dir: docs
site_name: Vision Agent Tools

theme:
  name: "material"

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      permalink: "#"

plugins:
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          show_source: false
