[tool.poetry]
name = "vision-agent-tools"
version = "0.1.0"
description = "Toolbox for vision tasks"
authors = ["Landing AI <dev@landing.ai>"]
readme = "README.md"

[tool.poetry.urls]
"homepage" = "https://landing.ai"
"repository" = "https://github.com/landing-ai/vision-agent-tools"
"documentation" = "https://github.com/landing-ai/vision-agent-tools"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
pydantic = "^2.7.4"
qreader = {version = "^3.14", optional = true}
numpy = ">=1.17,<2.0"
pillow = ">=10.0.1,<=15.0"
gdown = "^5.1.0"
wget= "^3.2"
torch="2.2.2"
loca = { git = "git@github.com:landing-ai/loca.git" }
depth-anything-v2 = { git = "git@github.com:landing-ai/depth-anything-v2.git" }

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.7.1"
pytest = "^8.2.2"
ruff = "^0.5.0"
mypy = "^1.10.1"

[tool.poetry.extras]
all = ["qreader"]
qr-reader = ["qreader"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
