pre-commit==3.7.1
pytest==8.2.2
ruff==0.5.0
mypy==1.10.1
mkdocstrings==0.25.1
mkdocs-material==9.5.28
pydantic==2.7.4
qreader==3.14
numpy==1.25.2
pillow==10.0.1
scipy==1.13.1
ninja==1.11.1.1
gdown==5.1.0
wget==3.2
torch==2.2.2
transformers==4.40.2
torchvision==0.17.0
timm==0.6.13
einops==0.7.0
opencv-python==4.8.1.78
loca @ git+https://github.com/landing-ai/loca.git
depth-anything-v2 @ git+https://github.com/landing-ai/depth-anything-v2.git
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.9.post1/flash_attn-2.5.9.post1+cu122torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl